.section {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.item_container {
    display: flex;
    flex-direction: column;
    /* Change the flex direction to column */
    align-items: center;
    /* Center the content horizontally */
    box-shadow: 10px 10px 10px 10px rgb(195, 187, 187);
    border-radius: 20px;
    width: 20%;
    margin: 1%;
    box-sizing: border-box;
}

.title {
    margin: 0;
    /* Remove padding and add margin */
    padding-top: 2%;
    /* Remove padding */
    text-align: center;
    /* Center the text horizontally */
}

.cartButton {
    margin-top: auto;
    /* Align button to the bottom */
    padding: 2%;
    width: 100%;
    box-sizing: border-box;
    background-color: blueviolet;
    color: white;
    font-size: large;
    font-weight: 200;
    border-radius: 20px;
}
.cartButton:hover{
    background-color: transparent;
    color: blueviolet;
    border: 2px solid blueviolet;
}

.itemImage {
    border-radius: 20px;
    width: 100%;
    height: 80%;
}

.price {
    margin: 0;
    /* Remove padding and add margin */
    padding-top: 3%;
    /* Remove padding */
    text-align: center;
    /* Center the text horizontally */


}

.countButton {
    background-color: rgb(80, 17, 17);
    border: none;
    font-weight: bolder;
    border-radius: 50%;
    padding: 5%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: white;
}

.countContainer {
    width: 40%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.quantityCont {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.asideSection {
    /* display: inline-block; */
    position: fixed;
    top: 20%;
    right: 0;
    width: 12%;
    color: rgb(22, 22, 91);
}
.priceSection {
    background-color: rgb(206, 200, 200);
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    padding-bottom: 2%;
    border-radius: 10px;
    padding-top: 8%;
}
.purchaseButton{
    margin-bottom: 10%;
    margin-top: 5%;
    width: 80%;
    background-color: blueviolet;
    color: aliceblue;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
.purchaseButton:hover{
    background-color: transparent;
    color: blueviolet;
    border: 2px solid blueviolet;
}