/* Style of the Navbar section */
.nav_container{
    display: flex;
    justify-content: center;
    width: 95%;
    margin: auto;
    box-shadow: 10px 10px 5px 5px grey;
    border-radius: 10px;
    background-color: beige;
    margin-bottom: 3%;
}
.nav_item{
    display: flex;
    justify-content: flex-end;
    width: 95%;
    align-items: center;
}
.nav_home{
    margin-right: 3%;
}
.navLink{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 140%;
    text-decoration: none;
    color: rgb(61, 78, 93);
}
.nav_signup{
    margin-right: 2%;
}
.title{
    margin-left: 20px;
}
.outerNav{
    text-decoration: none;
    color: rgb(61, 78, 93);
}
.logOutButton{
    background-color: cadetblue;
    border: none;
    border-radius: 10px;
    color: aliceblue;
    font-weight: bold;
    padding: 5%;
}

.logOutButton:hover{
    transform: scale(1.2);
}

.icon_name:hover{
    transform: scale(1.1);
}

/* responsive Site */
@media screen and (max-width: 1200px){
    .nav_home{
        margin-right: 4%;
    }
}

@media screen and (max-width: 1000px){
    .nav_home{
        margin-right: 6%;
    }
}

@media screen and (max-width: 900px){
    .navLink{
        width: 120%;
    }
}

@media screen and (max-width: 800px){
    .nav_item{
        width: 80%;
    }
    .nav_home{
        margin-right: 3%;
    }
}

@media screen and (max-width: 700px){
    .nav_item{
        width: 78%;
        font-size: 12px
    }
    .nav_home{
        margin-right: 3%;
    }
}

@media screen and (max-width: 600px){
    .nav_item{
        width: 75%;
        font-size: 12px
    }
    .nav_home{
        margin-right: 3%;
    }
    .imageIcon{
        width: 20px;
        height: 20px;
    }
}